.header
  .section
    .logo 
    .nameplate 
      label Name:
        +input("character_name")
      label Size:
        +select("size", {
          "tiny": "tiny-title", 
          "small": "small-title", 
          "medium": "medium-title", 
          "large": "large-title", 
          "huge": "huge-title", 
          "gargantuan": "gargantuan-title"
        }, "medium")
      label Level:
        +input("level")(type="number")
      label Frequency:
        +input("natural_frequency")(type="number")
      
+update("proficiency", triggers.change(["level"]), "calc_proficiency")